

#quote {
    display: block;
    font-family: 'Indie Flower', cursive;
  }

#quote1{

    
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    
}

#quote2{
    
    display: block;
    text-align: center;
    font-weight: 800;
}

